<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-info ">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-edit"></i> Create a new game</h3>
            </div>
            <form id="newGameForm" action="/play" method="post">
                <div class="panel-body">
                        <div class="form-group">
                            <label >Choose your opponent</label>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="opponent" value="friend" checked>
                                    <i class="fa fa-group"></i> Play with a friend
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="opponent" value="machine" disabled>
                                    <i class="fa fa-laptop"></i> Play with the machine
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label >Choose your side</label>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="side" value="white" checked>
                                    <i class="fa fa-circle-o"></i> White
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="side" value="black">
                                    <i class="fa fa-circle"></i> Black
                                </label>
                            </div>
                        </div>
                </div>
                <div class="panel-footer">
                    <button type="submit" class="btn btn-default center-block">Play</button>
                </div>
            </form>
        </div>
    </div>
</div>