<div class="row">

    <div id="trg" class="col-md-7"></div>

    <div id="tv-game-details" class="col-md-4 col-md-offset-1">

        <div class="panel panel-info ">
            <div class="panel-heading">
                <h4 class="panel-title">Players</h4>
            </div>
            <div class="panel-body">
                <p >
                    <img src="/bower_components/chessboardjs/img/chesspieces/wikipedia/bK.png" class="side-img" alt="Black"/> {{ opponent1 }} <span class="turn" id="turn-b">&nbsp;<i class=""></i></span>
                </p>
                <p>
                    <img src="/bower_components/chessboardjs/img/chesspieces/wikipedia/wK.png" class="side-img" alt="White"/> {{ opponent2 }} <span class="turn" id="turn-w">&nbsp;<i class=""></i></span>
                </p>
            </div>
        </div>

        <div class="panel panel-info ">
            <div class="panel-heading">
                <h4 class="panel-title">Moves</h4>
            </div>
            <div class="panel-body">
                <textarea id="pgn"></textarea>
            </div>
        </div>

    </div>

</div>